<!-- Header -->
<header class="mb-2">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light px-3">
        <button class="navbar-toggler nav-button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="" class="navbar-brand">
            <img src="~/images/batman.svg" class="me-1" style="width: 55px; height: 55px;" alt="">
        </a>
        <div class="navbar-collapse collapse" id="mynavbar">
            <ul class="navbar-nav list-unstyled w-100">
                <li class="nav-item ">
                    <a asp-action="Index" asp-controller="Home" class="nav-link m-2 nav-icon"><i class="fa-solid fa-home text-black" style="font-size: 20px;"></i></a>
                </li>

                <li class="nav-item">
                    <a asp-controller="Basket" asp-action="Index" class="nav-link m-2 nav-icon"><i class="fa-solid fa-cart-shopping text-black" style="font-size: 20px;"></i></a>
                </li>

                <li class="nav-item ms-auto d-flex align-items-center">
                    <a asp-action="Index" asp-controller="Wallet" class="nav-link m-2 nav-icon me-auto"><i class="fa-solid fa-wallet" style="font-size: 20px; color: brown;"></i></a>
                    <p class="mb-0 fw-bold"><span id="wallet-balance-user"></span> تومان</p>
                </li>

                <li class="nav-item ms-3">
                    <a href="" class="nav-link m-2 nav-icon"><i class="fa-solid fa-user-alt text-black" style="font-size: 20px;"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link m-2 nav-icon me-auto" asp-action="Logout" asp-controller="Register"><i class="fa-solid fa-sign-out-alt text-danger" style="font-size: 20px;"></i></a>
                </li>
            </ul>
        </div>

    </nav>
    <!-- End of Navbar -->

</header>
<!-- End Header -->
<!-- Main -->
<main>
    <div class="container mt-4">

        <div class="row mx-auto bg-secondary-subtle p-4 w-50 rounded">
            <form class="w-100" asp-action="IncreaseBalanceAndContinue" asp-controller="Wallet" method="post">
                <div class="align-items-center">
                    <label class="form-label fw-bold" for="">مبلغ مورد نظر را وارد کنید :</label>
                    <input name="amount" class="form-control" type="text">
                    <button class="btn btn-dark btn-sm mt-3">افزایش موجودی</button>
                </div>
            </form>
        </div>

    </div>
</main>
<!-- End Main -->