*{
    font-family: vazir;
}

/* Scrollbar */
::-webkit-scrollbar{
    background-color: rgb(53, 53, 53);
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(129, 129, 129);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:active {
    background-color: #b97979; 
}

/* End of Scrollbar */