@model PhoneNumberDto

<!-- Form -->
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-4">
            <div class="card border border-3 border-dark">
                <div class="card-header text-center border-bottom border-3 border-dark bg-dark-subtle">
                    <p class="mb-0 fw-bold h4">ثبت نام</p>
                </div>
                <div class="card-body">
                    <form asp-action="SendVerifyCode" asp-controller="Register" method="post">
                       @*  <!-- Validation Summary -->
                        <div asp-validation-summary="All" class="text-danger mb-3"></div> *@

                        <div class="mb-3">
                            <label asp-for="PhoneNumber" class="form-label">شماره موبایل</label>
                            <input id="PhoneNumber" type="text" class="form-control" asp-for="PhoneNumber">
                            <span asp-validation-for="PhoneNumber" class="text-danger mt-2"></span>
                        </div>

                        <div class="d-grid mb-3">
                            <button asp-action="SendVerifyCode" class="btn btn-outline-dark">ارسال کد تایید</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
